@import '_mixins.scss';

$thumnail-slider-width: 68px;
$slider-arrow-width: 22px;

.elc-carousel {
  width: 57%;
  display: flex;

  @include responsive(phone) {
    // background-color: rgb(24, 117, 29);
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  @include responsive(tablet) {
    // background-color: rgb(24, 117, 29);
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  h3 {
    background-color: pink;
  }

  .slick-arrow {
    background-image: url('/img/slider-arrow.png');
    background-size: auto;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    position: absolute;
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    padding: 0;
    cursor: pointer;
    z-index: 99;
  }

  .slider-main {
    // width: 600px;
    // height: 600px;
    width: calc(100% - 68px);
    // width: 50px;
    flex: 1;
    @include responsive(phone) {
      width: 100%;
      height: 50%;
      
      
    }

    img {
      // width: 600px;
      // height: 600px;
      width: calc(100% - 68px);
      @include responsive(phone) {
        width: 100%;
        height: 50%;
        // height: width;
      }
    }

    
    .slick-arrow {
      top: 0;
      // top: 50%;
      width: $slider-arrow-width;
      height: 39px;
      transform: translateY(-50%);
      position: absolute;
      
      
      @include responsive(phone) {
        z-index: 1;
        position: relative;
        // position: absolute;
      
      }
    }

    .slick-prev {
      position: absolute;
      vertical-align: top;
      top: 48.27%;
      // border: 1px solid black;
      // background-color: pink;
      left: $slider-arrow-width;
      box-sizing: border-box;
      @include responsive(phone) {
        top: 50%;
        // position: relative;
        // background-color: powderblue;
      
      }
    }

    .slick-next {
      top: 45%;
      left: 83%;
      position: absolute;
      // background-color: black;
      // border: 1px solid black;
      right: $slider-arrow-width;
      transform: scaleX(-1);
      box-sizing: border-box;
      @include responsive(phone) {
        left: 90%;
        // background-color: rgb(188, 176, 230);
        // position: relative;
      
      }
    }
  }

  .slider-thumbnails {
    width: $thumnail-slider-width;
    margin-top: $thumnail-slider-width / 2;
    // position: absolute;
    margin-right: 30px;
    @include responsive(phone) {
      display: none;
    }

    .slick-slider {
      width: 100%;
    }

    img {
      width: 60px;
      height: 60px;
    }

    .slick-arrow {
      height: 68px;
      width: $slider-arrow-width;
      left: 0;
      right: 0;
    }

    .slick-prev {
      top: -54px;
      left: $slider-arrow-width;
      transform: rotate(90deg);
    }

    .slick-next {
      bottom: -54px;
      left: $slider-arrow-width;
      transform: rotate(-90deg);
    }
  }

}